# **Carga de los datos**

In [3]:
# Librerías requeridas
import pandas as pd
import pathlib

In [4]:
# Obtener el directorio actual
pathtest= pathlib.Path() 
current_path = str(pathtest.parent.absolute())

## Funciones para cargar los datos
Se crea las siguientes funciones para facilitar la ejecución del cargue de los datos. Y parar propósitos de este proyecto los archivos se han registrado en este proyecto en la carpeta: \src\proy\database

In [5]:
# Función para obtener el directorio de los archivos a analizar
def get_directory():
    pathtest= pathlib.Path() 
    current_path = str(pathtest.parent.absolute())
    name_directory = "ProyectoUNAL"
    index_path = current_path.find(name_directory)
    path_data = current_path[:index_path+len(name_directory)]
    path_data += '\\src\\proy\\database\\'
    return path_data

In [90]:
# Archivos noticias
def get_data():
  path = get_directory()
  true_file = 'True.csv'
  fake_file = 'Fake.csv'
  pd_true = pd.read_csv(path + true_file)
  pd_fake = pd.read_csv(path + fake_file)
  return  pd_true, pd_fake

In [92]:
# Obtención de los pd de las noticias falsas y reales
news_true, news_fake = get_data()

## **Archivo de noticias verdaderas**

In [95]:
# Análisis del archivo de noticias verdaderas
news_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
news_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

## **Archivo de noticias falsas**

In [96]:
# Análisis del archivo de noticias falsas
news_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [97]:
news_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB